<table class="table table-striped">
  <tbody>
    <tr>
      <th>Nome</th>
      <td>{{usuario?.nome}}</td>
    </tr>
    <tr>
      <th>CPF</th>
      <td>{{usuario?.cpf | mask: '000.000.000-00'}}</td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td>{{usuario?.email}}</td>
    </tr>
    <tr>
      <th>Login</th>
      <td>{{usuario?.login}}</td>
    </tr>
    <tr>
      <th>Endereço</th>
      <td>{{usuario?.endereco}}</td>
    </tr>
    <tr>
      <th>Empresas</th>
      <td><a *ngFor="let empresa of usuario?.empresas; let i = index" routerLink="/empresas/visualizar/{{empresa.id}}">{{ i > 0 ? ", " : ""}}{{empresa.nome}}</a> </td>
    </tr>
  </tbody>
</table>
