
<button type="button" class="btn btn-success btn-cadastrar"  routerLink="cadastrar" >Cadastrar Empresa</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">CNPJ</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empresa of empresas; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{empresa.nome}}</td>
      <td>{{empresa?.cnpj | mask: '00.000.000/0000-00'}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-acao" (click)="visualizar(empresa)" ><i class="fa fa-eye"></i></button>
        <button type="button" class="btn btn-warning btn-acao" (click)="editar(empresa)" ><i class="fa fa-edit"></i></button>
        <button type="button" class="btn btn-danger btn-acao" (click)="exluir(empresa)"><i class="fa fa-trash "></i></button>
      </td>
    </tr>
  </tbody>
</table>
