
<button type="button" class="btn btn-success btn-cadastrar"  routerLink="cadastrar" >Cadastrar Usuário</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">E-mail</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of usuarios; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{u.nome}}</td>
      <td>{{u.cpf}}</td>
      <td>{{u.email}}</td>
      <td>
        <button type="button" class="btn btn-primary" routerLink="cadastrar" ><i class="fa fa-eye"></i></button>
        <button type="button" class="btn btn-warning" routerLink="cadastrar" ><i class="fa fa-edit"></i></button>
        <button type="button" class="btn btn-danger" (click)="exluirUsuario(u.id)"><i class="fa fa-trash "></i></button>
      </td>
    </tr>
  </tbody>
</table>
