
<button type="button" class="btn btn-success btn-cadastrar"  routerLink="cadastrar" >Cadastrar Usuário</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">E-mail</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{usuario.nome}}</td>
      <td>{{usuario?.cpf | mask: '000.000.000-00'}}</td>
      <td>{{usuario.email}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-acao" (click)="visualizarUsuario(usuario)" ><i class="fa fa-eye"></i></button>
        <button type="button" class="btn btn-warning btn-acao" (click)="editarUsuario(usuario)" ><i class="fa fa-edit"></i></button>
        <button type="button" class="btn btn-danger btn-acao" (click)="exluirUsuario(usuario)"><i class="fa fa-trash "></i></button>
      </td>
    </tr>
  </tbody>
</table>
