<table class="table table-striped">
  <tbody>
    <tr>
      <th>Nome</th>
      <td>{{empresa?.nome}}</td>
    </tr>
    <tr>
      <th>CNPJ</th>
      <td>{{empresa?.cnpj | mask: '00.000.000/0000-00'}}</td>
    </tr>
    <tr>
      <th>Endereço</th>
      <td>{{empresa?.endereco}}</td>
    </tr>
    <tr>
      <th>Usuarios</th>
      <td><a *ngFor="let usuario of empresa?.usuarios; let i = index" routerLink="/usuarios/visualizar/{{usuario.id}}">{{ i > 0 ? ", " : ""}}{{usuario.nome}}</a> </td>
    </tr>
  </tbody>
</table>
