<div class="card">
  <div class="card-body">
    <form [formGroup]="usuarioForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Nome</label>
        <input type="text" class="form-control" name="nome" formControlName="nome" #nome/>
      </div>
      <div *ngIf="usuarioForm.controls['nome'].invalid && (usuarioForm.controls['nome'].dirty || usuarioForm.controls['nome'].touched)" class="alert alert-danger">
        <div *ngIf="usuarioForm.controls['nome'].errors.required">
          O campo nome é obrigatório
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">CPF</label>
        <input type="text" class="form-control" name="cpf" formControlName="cpf" #cpf/>
      </div>
      <div *ngIf="usuarioForm.controls['cpf'].invalid && (usuarioForm.controls['cpf'].dirty || usuarioForm.controls['cpf'].touched)" class="alert alert-danger">
        <div *ngIf="usuarioForm.controls['cpf'].errors.required">
          O campo CPF é obrigatório
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">E-mail</label>
        <input type="email" class="form-control" name="email" formControlName="email" #email/>
      </div>
      <div *ngIf="usuarioForm.controls['email'].invalid && (usuarioForm.controls['email'].dirty || usuarioForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="usuarioForm.controls['email'].errors.required">
          O campo e-mail é obrigatório
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Login</label>
        <input type="text" class="form-control" name="login" formControlName="login" #login/>
      </div>
      <div *ngIf="usuarioForm.controls['login'].invalid && (usuarioForm.controls['login'].dirty || usuarioForm.controls['login'].touched)" class="alert alert-danger">
        <div *ngIf="usuarioForm.controls['login'].errors.required">
          O campo login é obrigatório
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Senha</label>
        <input type="password" class="form-control" name="senha" formControlName="senha" #senha/>
      </div>
      <div *ngIf="usuarioForm.controls['senha'].invalid && (usuarioForm.controls['senha'].dirty || usuarioForm.controls['senha'].touched)" class="alert alert-danger">
        <div *ngIf="usuarioForm.controls['senha'].errors.required">
          O campo senha é obrigatório
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Endereço</label>
        <input type="text" class="form-control" name="endereco" formControlName="endereco" #endereco/>
      </div>
      <div *ngIf="usuarioForm.controls['endereco'].invalid && (usuarioForm.controls['endereco'].dirty || usuarioForm.controls['endereco'].touched)" class="alert alert-danger">
        <div *ngIf="usuarioForm.controls['endereco'].errors.required">
          O campo endereço é obrigatório
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="usuarioForm.pristine || usuarioForm.invalid" float-right class="btn btn-primary" (click)="enviarFormulario()">Salvar</button>
      </div>
    </form>
  </div>
</div>
