<div class="card">
  <div class="card-body">
    <form [formGroup]="usuarioForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Nome</label>
        <input type="text" class="form-control" name="nome" formControlName="nome" #nome/>
      </div>
      <div *ngIf="usuarioForm.controls['nome'].invalid && (usuarioForm.controls['nome'].dirty || usuarioForm.controls['nome'].touched)" class="alert alert-danger">
        <div *ngIf="usuarioForm.controls['nome'].errors.required">
          O campo nome é obrigatório
        </div>
        <div *ngIf="usuarioForm.controls['nome'].errors.minlength">
          O campo deve ter pelo menos 3 caracteres
        </div>
        <div *ngIf="usuarioForm.controls['nome'].errors.maxlength">
          O campo não deve ter mais que 80 caracteres
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">CPF</label>
        <input type="text" class="form-control" name="cpf" formControlName="cpf" #cpf mask="000.000.000-00"/>
      </div>
      <div *ngIf="usuarioForm.controls['cpf'].invalid && (usuarioForm.controls['cpf'].dirty || usuarioForm.controls['cpf'].touched)" class="alert alert-danger">
        <div *ngIf="usuarioForm.controls['cpf'].errors.required">
          O campo CPF é obrigatório
        </div>
        <div *ngIf="usuarioForm.controls['cpf'].errors.minlength">
          O campo deve ter 11 digitos
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">E-mail</label>
        <input type="email" class="form-control" name="email" formControlName="email" #email/>
      </div>
      <div *ngIf="usuarioForm.controls['email'].invalid && (usuarioForm.controls['email'].dirty || usuarioForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="usuarioForm.controls['email'].errors.required">
          O campo e-mail é obrigatório
        </div>
        <div *ngIf="usuarioForm.controls['email'].errors.minlength">
          O campo deve ter pelo menos 3 caracteres
        </div>
        <div *ngIf="usuarioForm.controls['email'].errors.maxlength">
          O campo não deve ter mais que 80 caracteres
        </div>
        <div *ngIf="usuarioForm.controls['email'].errors.email">
          O campo não está com um formato válido de e-mail
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Login</label>
        <input type="text" class="form-control" name="login" formControlName="login" #login/>
      </div>
      <div *ngIf="usuarioForm.controls['login'].invalid && (usuarioForm.controls['login'].dirty || usuarioForm.controls['login'].touched)" class="alert alert-danger">
        <div *ngIf="usuarioForm.controls['login'].errors.required">
          O campo login é obrigatório
        </div>
        <div *ngIf="usuarioForm.controls['login'].errors.minlength">
          O campo deve ter pelo menos 3 caracteres
        </div>
        <div *ngIf="usuarioForm.controls['login'].errors.maxlength">
          O campo não deve ter mais que 12 caracteres
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Senha</label>
        <input type="password" class="form-control" name="password" formControlName="password" #password/>
      </div>
      <div *ngIf="usuarioForm.controls['password'].invalid && (usuarioForm.controls['password'].dirty || usuarioForm.controls['password'].touched)" class="alert alert-danger">
        <div *ngIf="usuarioForm.controls['password'].errors.required">
          O campo senha é obrigatório
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Endereço</label>
        <textarea class="form-control" name="endereco" formControlName="endereco" #endereco></textarea>
      </div>
      <div *ngIf="usuarioForm.controls['endereco'].invalid && (usuarioForm.controls['endereco'].dirty || usuarioForm.controls['endereco'].touched)" class="alert alert-danger">
        <div *ngIf="usuarioForm.controls['endereco'].errors.required">
          O campo endereço é obrigatório
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Empresas</label>
        <select formControlName="empresasForm" #emp [multiple]="true" class=form-control>
          <option [value]=""></option>
          <option *ngFor="let empresa of empresas" [value]="empresa.id" selected>{{empresa.nome}}</option>
        </select>
      </div>

      <div class="form-group">
        <button [disabled]="usuarioForm.pristine || usuarioForm.invalid" float-right class="btn btn-primary" (click)="enviarFormulario()">Salvar</button>
      </div>
    </form>
  </div>
</div>
